Checks: '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm-*'
WarningsAsErrors: ''
HeaderFilterRegex: '^((?!\/usr\/include).)*$'
SystemHeaders: false
FormatStyle: none
